name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image noetic
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ronkabu0401/husky-vnc:latest
          labels: ronkabu0401.husky.vnc.source=https://github.com/ron0401/ros-vnc-devenv-docker.git
